<div class="col">
  <div class="account-wall">
    <div class="chase-logo">
      <h1 class="text-center">勤務地を編集</h1>
      <p class="text-center">修正する情報を入力してください</p>
      <%= form_with(model: @working_place, id: "relationships_form", local: true) do |f| %>
      <%= f.label "住所" %>
      <%= f.text_field :address, class: "form-control" %>
      社員
      <div class="parent">
        <%= f.fields_for :relationships, local: true, id: "js-relationship-field" do |relationship| %>
        <%= render "relationship_fields", f: relationship %>
        <% end %>
        <%= link_to_add_association "勤務する社員を追加", f, :relationships, class: "btn btn-outline-success" %>
      </div>
      <p></p>
            <%= f.submit "編集", class: "btn btn-primary btn-block" %>
            <%= link_to "削除", working_place_path, method: :delete, class: "btn btn-danger btn-block" %>
            <%= link_to "戻る", :back, class: "btn btn-info btn-block" %>
      <% end %>
    </div>
  </div>

