<h1>勤務地を追加する</h1>
<%= form_with(model: @working_place, local: true) do |f|%>
<%=f.label "住所"%>
<%= f.text_field :address%>
<div class="parent">

    <%= f.fields_for :relationships do |relationship| %>
    <% end %>
    <%= link_to_add_association "勤務する社員を追加", f, :relationships %>
</div>
<%= f.submit %>
<% end%>
