<h1>出勤退勤</h1>

<%= "今日は#{Date.today}です"%>

<% case @attendance.working_status%>
<% when :not_arrived%>
<p>未出社</p>
<% when :working%>
<p>出勤中</p>
<%="出勤時刻: #{@attendance.attendance_time}"%>
<% when :left%>
<p>退勤済み</p>
<%="出勤時刻: #{@attendance.attendance_time}"%> <br>
<%="退勤時刻: #{@attendance.leaving_time}"%> <br>
<% working_time = @attendance.working_time.divmod(60)%>
<%="勤務時間: #{working_time[0]}時間#{working_time[1]}分"%>
<%end%>

<%= form_for(@attendance) do |f|%>
  <%=f.hidden_field :status, value:'in'%>
<%= f.submit '出社',disabled: !!@attendance.attendance_time, class: 'btn btn-default'%>
<% end%>

<%= form_for(@attendance) do |f|%>
  <%=f.hidden_field :status, value:'out'%>
<%= f.submit '退社',disabled: !@attendance.attendance_time|| !!@attendance.leaving_time, class: 'btn btn-default'%>
<% end%>
