<!DOCTYPE html>
<html>
    <head>
        <title>DeviseRails5</title>
        <%= csrf_meta_tags %>

        <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>

    </head>

    <body>
        <header>
        <nav>
        <%= link_to 'ホーム', root_path %>
        <% if user_signed_in? %>
        <%= link_to 'プロフィール変更', edit_user_registration_path %>
        <%= button_to 'ログアウト', destroy_user_session_path, method: :delete %>
        <% if current_user.admin == true %>
            <%= link_to '勤務状況' , users_path%>
            <%= link_to '勤務地一覧' , working_places_path%>
        <%else%>
        <%= link_to '出勤退勤をする','/attendances/show'%>
        <%end%>
        <% else %>
        <%= link_to 'サインアップ', new_user_registration_path %>
        <%= link_to 'ログイン', new_user_session_path %>
        <% end %>
        </nav>
        </header>

        <p class="notice"><%= notice %></p>
        <p class="alert"><%= alert %></p>

        <%= yield %>
    </body>
</html>
